body {
  background: radial-gradient(circle, #000000 10%, #191919 100%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  user-select: none;
}

#container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo {
  max-width: 100vw;
  min-width: 70vw;
  width: 50rem;
}

#logo-path {
  stroke-dasharray: 389;
  animation: logo-reveal 1s ease-in-out;
}

@keyframes logo-reveal {
  0% {
    stroke-dashoffset: 389;
  }
  80% {
    stroke-dashoffset: 26;
  }
  90% {
    stroke-dashoffset: 25;
  }
  100% {
    stroke-dashoffset: 1;
  }
}

#logo-text-top {
  animation: top-text-reveal 500ms;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
}

@keyframes top-text-reveal {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

#logo-text-bottom {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 700;
  animation: bottom-text-reveal 700ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bottom-text-reveal {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  80% {
    opacity: 1;
    transform: translateX(0.7rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

#icons {
  margin-top: 0rem;
  height: 0;
  display: flex;
  justify-content: center;
  transition: 200ms;
  animation: icons-reveal forwards 1s;
  animation-delay: 1500ms;
  opacity: 0;
}

.icon {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.icon img {
  height: 4rem;
  transition: 200ms;
  max-width: calc(25vw - 10px);
}

.icon:hover img {
  filter: brightness(10);
}

@keyframes icons-reveal {
  0% {
    margin-top: 0rem;
    height: 0;
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    margin-top: 5rem;
    opacity: 1;
    transform: translateY(0rem);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  color: white;
  font-family: "Saira Condensed", sans-serif;
  opacity: 0.5;
  transition: 250ms;
}
.footer:hover {
  opacity: 1;
}
